Module 12 Challenge
Deliverable 2: Scrape and Analyze Mars Weather Data

In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
browser = Browser('chrome')

In [3]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)
html = browser.html

In [6]:
# Create a Beautiful Soup Object
table_soup = soup(html, 'html.parser')

In [20]:
# Extract all rows of data
table = table_soup.find('tr', class_= "data-row")
type(table)

bs4.element.Tag

In [25]:
#create list of headers from table
header = table_soup.find_all('th')
header_ls = []

for i in header:
    header_ls.append(i.text)

header_ls

['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure']

In [28]:
# Create an empty list
row_ls = []
# Loop through the scraped data to create a list of rows
for row in table:
    row = table.find_all('td')
    individual_row = []
    for entry in row:
        individual_row.append(entry.text)
    row_ls.append(individual_row)  
row_ls

[['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0'],
 ['2', '2012-08-16', '10', '155', '6', '-75.0', '739.0']]

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names

In [ ]:
# Confirm DataFrame was created successfully

In [ ]:
# Examine data type of each column

In [ ]:
# Change data types for data analysis

In [ ]:
# Confirm type changes were successful by examining data types again

In [ ]:
# 1. How many months are there on Mars?

In [ ]:
# 2. How many Martian days' worth of data are there?

In [ ]:
# 3. What is the average low temperature by month?

In [ ]:
# Plot the average temperature by month

In [ ]:
# Identify the coldest and hottest months in Curiosity's location

In [ ]:
# 4. Average pressure by Martian month

In [ ]:
# Plot the average pressure by month

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?

Analysis:

In [ ]:
# Write the data to a CSV

In [ ]:
#quit the browser
browser.quit()